@import "../main.scss";

.bb-hero-container {
  width: 100%;
  height: max-content;

  .bb-hero-container-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bb-heroTitle {
      font-size: 3rem;
      font-weight: bold;
    }

    .bb-cc-text {
      font-size: 1rem;
      margin: 1.5rem 0 0 0;
    }
  }
}
