@import "../main";

.bb-nav {
  width: 100%;
  height: max-content; // Changed to auto

  .bb-nav-content {
    width: 100%;
    max-width: 1200px;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0; // Removed extra 2rem

    .bb-nav-left {
      img {
        width: 170px;
        height: auto;
      }
    }

    .bb-nav-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      li {
        font-size: 1.3rem;
      }

      &:hover {
        cursor: pointer;
      }

      .hamburger {
        display: block;
        border: none;
        cursor: pointer;
        background-color: transparent;

        .bar {
          display: block;
          width: 27px;
          height: 3px;
          margin: 5px auto;
          transition: all 0.3s ease-in-out; // Removed vendor prefix
          background-color: #000;
        }
      }
    }
  }
}
