extends ./_include/layout.pug

block title
    title Brewnbeer

block description
    meta(name="description" content="HTML biolerplate by Brewnbeer")

block canonical
    - const canonicalUrl = "https;//brewnbeer.com/"
    if canonicalUrl
        link(rel="canonical", href=canonicalUrl)

block content
    .my-view#view-main
        .my-layout(role="main")
            .containerOne
                | Hello
            .containerTwo
                | Hello 2
    link(rel="stylesheet" href="/styles/pages/home.module.min.css")
    script(src="/js/main-page.bundle.js") 
