extends _includes/layout

block title
    title Brewnbeere Web Development Template

block content
    div.home-page
        div.content
            h1 Running web development template
    link(rel="stylesheet" href="/styles/pages/home-page.module.min.css")